<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
   <link rel="stylesheet" href="../static/style6.css" />
<head>
    <h2>Welcome To Admin login Page</h2>
    <H1>Admin login Page</H1>
    
    <fieldset>
        <form action="/show_data1" method="post">
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="password"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"></td>
                    <td><input type="reset" value="Restart"></td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>