<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<head>
   
   <link rel="stylesheet" href="../static/style5.css" />
   
  <head>
    <body>
        <h1>All in One Therapy Plans</h1>
           
        <ul>
    
        
            <li><a href="/">logout</a></li>
            
        </ul>  


        
        <marquee behaviour="alternate" width="100%" direction="right" height="30px">
           " Best Solution for Muscle Pain and Spine Problems "
          </marquee>
         <fieldset>
          <table>
            
            <tr>      
              <td>Monday</td>
              <td>neck and head pain,back bone problem,heartattach,weast problems.</td>
              <td>20 min first mode.</td>

            </tr>
            <tr>
              <td>tuesday</td>
              <td>liver problems,diabetes,stomach problems</td>
              <td>10 min second mode.</td>
            </tr>
            <tr>
                <td>wenesday</td>
                <td>leg muscle pain,kidney problems,blood problems.</td>
                <td>40 min third mode</td>
              </tr>
            <tr>
                <td>thursday</td>
                <td>breathing problems,digestion problems,stomac pain.</td>
                <td>20 min fourth mode</td>
              </tr> 
            <tr>
                <td>friday</td>
                <td>gas problems,vometing,small intestine problems,decentry</td>
                <td>60 min fifth mode </td>  
            <tr>
                <tr>
                    <td>saturday</td>
                    <td>head massage and other problems</td>
                    <td>30 min sixth mode</td>      
                </fieldset>   