<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
   <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
<h1>Primetime Therapy Center</h1>
<h2>Primetime Therapy Center is one of The Best Therapy Center in Thane</h2>
<h3>Therapy Center For Spine And Heart Problems</h3> 
<ul>
    
    <li><a href="/log">Login</a></li>
    <li><a href="/pack">Enquiry</a></li>
    <li><a href="/admin">Administraion</a></li>
    
</ul>
</body>

</html>