
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<head>
  <link rel="stylesheet" href="../static/style1.css" />
  <head>



    <body>
        <h1>Best Plans</h1>
        <marquee behaviour="alternate" width="100%" direction="right" height="30px">
           " Two Times Free Therapy."
          </marquee>
         
        <table>
            <tr>
              <th>Months</th>
              <th>Offers</th>
              <th>Cost</th>
            </tr>
            <tr>
              <td>3 months</td>
              <td>500 rs off</td>
              <td>1000</td>
            </tr>
            <tr>
                <td>6 months</td>
                <td>1000 rs off</td>
                <td>2000</td>
              </tr>
              <tr>
                <td>9 months</td>
                <td>2 months Free</td>
                <td>3000</td>
              </tr>
              <tr>
                <td>12 months</td>
                <td>3 monthsFree</td>
                <td>4000</td>
              </tr>
        <marquee behaviour="alternate" width="100%" direction="left" height="30px">
          Limited Offers
          </marquee>
          <ul>
    
            <li><a href="/reg">Register</a></li>
            <li><a href="/">Home</a></li>
            
        </ul>  
    <head>  
