<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
   <link rel="stylesheet" href="../static/style4.css" />
    
<head>

    <title>Primetime Therapy center</title>
</head>
<body>
    <h1>Congratulations please get in touch with our center.</h1>
    <ul>
    
        <li><a href="/">home</a></li>
        <li><a href="/begi">Beginners Plan</a></li>
        <li><a href="/push">Advanced Plan</a></li>
        
    </ul>  
 <body>
<head>       